In [1]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [2]:
df = pd.read_csv("transformed_df.csv")
df.head()

,Make,Model,Body Type,Drivetrain,Interior Colour,Exterior Colour,Fuel Type,Transmission Type,Doors,Cylinder Count,Fuel Efficiency (Lt/100kms),Distance (km),Mileage (kms/Lt),Years Used,Purchase Price,Current Market Price
0,0.0,342.0,11.0,3.0,1.0,9.0,6.0,0.0,4.0,4.0,9.92,33032.0,10.1,5.0,40888.0,7126.32
1,0.0,285.0,11.0,3.0,11.0,0.0,2.0,0.0,4.0,6.0,11.16,31000.0,9.0,2.0,60899.0,13368.07
2,0.0,342.0,11.0,3.0,1.0,0.0,6.0,0.0,4.0,4.0,10.31,27800.0,9.7,4.0,49099.0,10391.32
3,0.0,405.0,12.0,3.0,13.0,0.0,6.0,0.0,4.0,6.0,9.74,34396.0,10.3,5.0,36499.0,6165.93
4,0.0,342.0,11.0,3.0,1.0,0.0,2.0,0.0,4.0,4.0,9.92,60892.0,10.1,4.0,38495.0,4344.07

## Dataset Transformation using Standard Scaler:

In [3]:
# Fit and transform the data
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns=df.columns)
standardized_df

,Make,Model,Body Type,Drivetrain,Interior Colour,Exterior Colour,Fuel Type,Transmission Type,Doors,Cylinder Count,Fuel Efficiency (Lt/100kms),Distance (km),Mileage (kms/Lt),Years Used,Purchase Price,Current Market Price
0,-1.727738,0.737300,0.193529,-0.288094,-0.685787,1.055830,4.005901,-0.444785,0.36891,-0.718323,-0.001574,-0.619255,-0.200860,-0.190980,-0.027163,-0.304245
1,-1.727738,0.286533,0.193529,-0.288094,1.009472,-1.263186,-0.195593,-0.444785,0.36891,0.762473,0.559595,-0.650009,-0.667728,-0.943975,0.406138,-0.106778
2,-1.727738,0.737300,0.193529,-0.288094,-0.685787,-1.263186,4.005901,-0.444785,0.36891,-0.718323,0.174923,-0.698441,-0.370631,-0.441978,0.150631,-0.200952
3,-1.727738,1.235516,0.463178,-0.288094,1.348524,-1.263186,4.005901,-0.444785,0.36891,0.762473,-0.083034,-0.598611,-0.115975,-0.190980,-0.122199,-0.334628
4,-1.727738,0.737300,0.193529,-0.288094,-0.685787,-1.263186,-0.195593,-0.444785,0.36891,-0.718323,-0.001574,-0.197600,-0.200860,-0.441978,-0.078979,-0.392265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11600,1.883153,1.401588,3.968617,0.907661,1.687575,1.055830,-0.195593,-0.444785,0.36891,0.022075,-0.630627,2.011220,0.478220,1.817009,-0.663615,-0.523826
11601,1.883153,1.551844,0.193529,-0.288094,-0.685787,1.055830,-0.195593,-0.444785,0.36891,-0.718323,-0.259531,-0.566480,0.053795,-0.692977,0.104748,-0.258122
11602,1.883153,1.409497,3.968617,-0.288094,1.687575,1.055830,-0.195593,-0.444785,0.36891,-0.718323,-0.150918,-0.991148,-0.073533,-0.943975,0.494505,0.472559
11603,1.883153,1.559752,0.193529,-0.288094,-0.007684,1.055830,1.905154,-0.444785,0.36891,-0.718323,-0.644204,-1.118432,0.520662,-1.194974,0.873414,1.936847
11604,1.883153,1.551844,0.193529,-0.288094,-0.685787,0.540493,-0.195593,-0.444785,0.36891,-0.718323,-0.259531,-0.693083,0.053795,-0.692977,0.061441,-0.212676